{% extends '::base.html.twig' %}

{% block stylesheets %}
    <style>
        body {
            padding-top: 42px;
        }
    </style>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" />
    <link rel="stylesheet" href="{{ asset('css/angular-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/introjs.css') }}">
    <link rel="stylesheet" href="{{ asset('css/formbuilder.css') }}">
    <link rel="stylesheet" href="{{ asset('css/formbuilder_print.css') }}" media="print">
{% endblock %}

{% block body %}
        <!-- Top Navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <!-- Left aligned elements -->
                    <a class="brand" href="#">Form Builder</a>
                    <ul class="nav" ng-controller="MenuCtrl">
                        <li><a title="New Form" href="#" ng-click="new()"><i class="icon-file icon-large"></i></a></li>
                        <li><a title="Save Form" href="#" ng-click="save()"><i class="icon-save icon-large"></i></a></li>
                        <li><a title="Load Form" href="#" ng-click="load()"><i class="icon-folder-open icon-large"></i></a></li>
                        <li><a title="Print Form" href="#" onclick="window.print();"><i class="icon-print icon-large"></i></a></li>
                        <li><a title="Show Help" href="#" ng-click="help()" ><i class="icon-question-sign icon-large"></i><span></span></a></li>
                    </ul>
                    <!-- Right aligned elements -->
                    <ul class="nav pull-right">
                        {% if app.user %}
                        <li><a href="#"><i class="icon-user"></i>{{ app.user.username|strip_username }}</a></li>
                        <li><a title="Logout" href="{{ path('logout') }}" data-intro="Don't forget to logout." data-step="5" data-position="left"><i class="icon-signout icon-large"></i></a></li>
                        {% else %}
                        <li><a href="#"><i class="icon-user"></i>Guest</a></li>
                        <li><a title="Login" href="/Shibboleth.sso/Login"><i class="icon-signout icon-large"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div id="panel" ng-view data-intro="Question bank, where you can drag questions to your form." data-step="4" data-position="right">
        </div>
        <!-- Main Content -->
        <div id="formcontent" ng-controller="FormCtrl">
            <!-- The form's name, "Loading..." is there as a placeholder
            otherwise hallo.js overrides the width and height of the header -->
            <h2 class="editable form-name" contenteditable="true" ng-model="form.name" data-intro="Form name, this is a reference of the form and will not show up on the printed version." data-step="1" data-position="bottom">Loading...</h2>
            <div id="form-paper" droppable drop="addQuestion(id)">
                <div class="editable form-header" contenteditable="true" ng-model="form.header"  data-intro="Form header" data-step="2" data-position="bottom">Loading...</div>
                <ul id="question-list" ui-sortable="sortableOptions" ng-model="form.questions" editable-ul>
                    <li resizable='{containment: "parent"}' ng-repeat="question in form.questions" ng-switch="question.response_type" ng-style="question.metadata" ng-model="question">
                        <div class="controls">
                            <div class="handle pull-left"><i class="icon-move"></i></div>
                            <button ng-click="delete($index)"><i class="icon-remove"></i></button>
                        </div>
                        <div class="editable" contenteditable="true" ng-model="question.text">Loading...</div>
                        <div ng-switch-when="1" class="response-input"><input type="text"/></div>
                        <div ng-switch-when="2" class="response-textarea"><textarea storable ng-style="question.response_metadata"></textarea></div>
                        <div ng-switch-when="3" class="response-radio rotatable-response">
                            <label class="radio" ng-class="response.classes" ng-repeat="response in question.responses">
                                <input type="radio" disabled><span class="editable" contenteditable="true" ng-model="response.text"></span>
                            </label>
                        </div>
                        <div ng-switch-when="4" class="response-checkbox rotatable-response">
                            <label class="checkbox" ng-class="response.classes" ng-repeat="response in question.responses">
                                <input type="checkbox" disabled><span class="editable" contenteditable="true" ng-model="response.text"></span>
                            </label>
                        </div>
                    </li>
                </ul>
                <div class="editable form-footer" contenteditable="true" ng-model="form.footer"  data-intro="Form footer" data-step="3" data-position="bottom">Loading...</div>
            </div>
            <footer>
            <hr>
                <p>&copy; <a href="http://ctlt.ubc.ca/">Centre for Teaching, Learning and Technology, UBC</a> 2013</p>
            </footer>
        </div><!--/formpanel-->


        <div id="introDlg" class="modal hide fade">
            <div class="modal-header">
                <h3>Welcome to Form Builder</h3>
            </div>
            <div class="modal-body">
                <p>This tutorial will walk you through the basic features of the Form Builder. </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Start</a>
            </div>
        </div>
{% endblock %}

{% block javascripts %}

        <script src="{{ asset('js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>

        <!-- Non-minified versions during development -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

        <script src="{{ asset('js/vendor/bootstrap.js') }}"></script>
        <script src="{{ asset('js/vendor/intro.js') }}"></script>

        <script src="{{ asset('js/main.js') }}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.js"></script>
        <script src="{{ asset('js/vendor/angular-ui.min.js') }}"></script>
        <script src="{{ asset('js/vendor/ui-bootstrap-tpls-0.2.0.min.js') }}"></script>
        <script src="{{ asset('js/vendor/underscore-min.js') }}"></script>
        <script src="{{ asset('js/services.js') }}"></script>
        <script src="{{ asset('js/formbuilder.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/vendor/rangy-core.js') }}"></script>
        <script src="{{ asset('js/vendor/hallo.js') }}"></script>
        <script>
            var userId = {{ app.user.id }};
        </script>
{% endblock %}
